/*Gerais*/
body{
    background-color: #EBE3D5;
}

/*Pokecards Style*/
.col .card{
    width: 18em;
    height: 28em;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #CD1818;
    transition: transform 0.25s ease, box-shadow 0.25s ease, z-index 0.25s ease;
}


.col .card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.col .card img{
    border: 2px solid black;
    align-self: center;
    border-radius: 10px;
    width: 16em;
    margin-top: 15px;
    background-color: #EBE3D5;
}

.col .card .card-body{
    justify-content: left;
    color: white;
}

.col .card .btn{
    border: none;
    background-color: #260a0a;
    color: white;
}

.card .circles-container{
    display: flex;
    margin: 2vh 0 0 2vw;
    gap: 20px;
    flex-direction: row;
}

.card .circles-container .circle{
    width: 1.1em;
    height: 1.1em;
    border: 1px solid black;
    border-radius: 100%;
    background-color: white;
} 

/*Pokemon view*/
.card .mb-3{
    align-items: center;
}